@page
@model BoOl.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Customer.LastName);
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-1">
            <div class="card border-dark">
                <div class="card-header">
                    <h2>Особиста інформація</h2>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row d-center justify-content-center p-2">
                    <span asp-validation-for="Customer" class="text-danger"></span>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-4">
                            ПІБ:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.LastName)  @Html.DisplayFor(model => model.Customer.FirstName)  @Html.DisplayFor(model => model.Customer.MiddleName)
                        </dd>
                        <dt class="col-4">
                            Номер телефону:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.PhoneNumber)
                        </dd>
                        <dt class="col-4">
                            Електронна пошта:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.Email)
                        </dd>
                        <dt class="col-4">
                            Дата народження:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.DateOfBirth)
                        </dd>
                        <dt class="col-4">
                            Адреса:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.Address)
                        </dd>
                        <dt class="col-4">
                            Знижка:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Customer.Discount)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-grid gap-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary m-2" asp-page="./Edit" asp-route-id="@Model.Customer.Id" title="Редагувати"><i class="far fa-edit"></i></a>
                    <a class="btn btn-outline-danger m-2" asp-page="./Details" asp-page-handler="Delete" asp-route-id="@Model.Customer.Id" onclick="return confirm('Ви дійсно хочете видалити даного клієнта?');" title="Видалити"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-1">
            <div class="card border-dark">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-start">
                            <h2>Техніка</h2>
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <a class="btn btn-secondary mt-1" asp-page="/Products/Create" asp-route-id="@Model.Customer.Id" title="Додати техніку"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Серійний номер
                                </th>
                                <th>
                                    Модель
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Customer.Products)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-secondary" asp-page="/Products/Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <ul class="pagination justify-content-center">
                        @{
                            int startPoint = 0, endPoint = 0, k = 15;
                            if (Model.ProductsTotalPages > k)
                            {
                                if (Model.ProductsCurrentPage - k / 2 >= 1 && Model.ProductsCurrentPage + k / 2 < Model.ProductsTotalPages)
                                {
                                    startPoint = Model.ProductsCurrentPage - k / 2;
                                    endPoint = Model.ProductsCurrentPage + k / 2;
                                }
                                else if (Model.ProductsCurrentPage - k / 2 < 1)
                                {
                                    startPoint = 1;
                                    endPoint = startPoint + k - 1;

                                }
                                else
                                {
                                    endPoint = Model.ProductsTotalPages;
                                    startPoint = endPoint - k + 1;
                                }
                            }
                            else
                            {
                                startPoint = 1;
                                endPoint = Model.ProductsTotalPages;
                            }

                            for (var i = startPoint; i <= endPoint; i++)
                            {
                                if (i == startPoint && startPoint > 1)
                                {
                                    <li class="page-item">
                                        <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-productscurrentpage="@(i - 1)" asp-route-orderscurrentpage="@Model.OrdersCurrentPage" class="page-link">...</a>
                                    </li>
                                }
                                <li class="page-item @(i == Model.ProductsCurrentPage ? "active" : "")">
                                    <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-productscurrentpage="@i" asp-route-orderscurrentpage="@Model.OrdersCurrentPage" class="page-link">@i</a>
                                </li>
                                if (i == endPoint && endPoint < Model.ProductsTotalPages)
                                {
                                    <li class="page-item">
                                        <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-productscurrentpage="@(i + 1)" asp-route-orderscurrentpage="@Model.OrdersCurrentPage" class="page-link">...</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="card border-dark">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-start">
                            <h2>Замовлення</h2>
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <a class="btn btn-secondary mt-1" asp-page="/Orders/Create" asp-route-id="@Model.Customer.Id" title="Додати замовлення"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Техніка
                                </th>
                                <th>
                                    Статус
                                </th>
                                <th>
                                    Оплачено
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model.Customer.Orders)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductModel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payment)
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-secondary" asp-page="/Orders/Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <ul class="pagination justify-content-center">
                        @{
                            int startPoint1 = 0, endPoint1 = 0, k1 = 15;
                            if (Model.OrdersTotalPages > k1)
                            {
                                if (Model.OrdersCurrentPage - k1 / 2 >= 1 && Model.OrdersCurrentPage + k1 / 2 < Model.OrdersTotalPages)
                                {
                                    startPoint1 = Model.OrdersCurrentPage - k1 / 2;
                                    endPoint1 = Model.OrdersCurrentPage + k1 / 2;
                                }
                                else if (Model.OrdersCurrentPage - k1 / 2 < 1)
                                {
                                    startPoint1 = 1;
                                    endPoint1 = startPoint1 + k1 - 1;

                                }
                                else
                                {
                                    endPoint1 = Model.OrdersTotalPages;
                                    startPoint1 = endPoint1 - k1 + 1;
                                }
                            }
                            else
                            {
                                startPoint1 = 1;
                                endPoint1 = Model.OrdersTotalPages;
                            }

                            for (var i = startPoint1; i <= endPoint1; i++)
                            {
                                if (i == startPoint1 && startPoint1 > 1)
                                {
                                    <li class="page-item">
                                        <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-orderscurrentpage="@(i - 1)" asp-route-productscurrentpage="@Model.ProductsCurrentPage" class="page-link">...</a>
                                    </li>
                                }
                                <li class="page-item @(i == Model.OrdersCurrentPage ? "active" : "")">
                                    <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-orderscurrentpage="@i" asp-route-productscurrentpage="@Model.ProductsCurrentPage" class="page-link">@i</a>
                                </li>
                                if (i == endPoint1 && endPoint1 < Model.OrdersTotalPages)
                                {
                                    <li class="page-item">
                                        <a asp-page="./Details" asp-route-id="@Model.Customer.Id" asp-route-orderscurrentpage="@(i + 1)" asp-route-productscurrentpage="@Model.ProductsCurrentPage" class="page-link">...</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>