@page
@model BoOl.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<div class="container">
    <div class="card border-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-4 d-flex justify-content-start">
                    <h1>Клієнти</h1>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <form class="form-inline m-2">
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="Query.Filter" placeholder="Пошук" aria-describedby="button-addon">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon" title="Пошук"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-secondary m-2" asp-page="Create" title="Додати клієнта"><i class="fas fa-plus"></i></a>
                    }

                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            П.І.Б.
                        </th>
                        <th>
                            Номер телефону
                        </th>
                        <th>
                            Електронна пошта
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Customers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <ul class="pagination justify-content-center">
                @{
                    int startPoint = 0, endPoint = 0, k = 15;
                    if (Model.TotalPages > k)
                    {
                        if (Model.Query.CurrentPage - k / 2 >= 1 && Model.Query.CurrentPage + k / 2 < Model.TotalPages)
                        {
                            startPoint = Model.Query.CurrentPage - k / 2;
                            endPoint = Model.Query.CurrentPage + k / 2;
                        }
                        else if (Model.Query.CurrentPage - k / 2 < 1)
                        {
                            startPoint = 1;
                            endPoint = startPoint + k - 1;

                        }
                        else
                        {
                            endPoint = Model.TotalPages;
                            startPoint = endPoint - k + 1;
                        }
                    }
                    else
                    {
                        startPoint = 1;
                        endPoint = Model.TotalPages;
                    }

                    for (var i = startPoint; i <= endPoint; i++)
                    {
                        if (i == startPoint && startPoint > 1)
                        {
                            <li class="page-item">
                                <a asp-page="./Index" asp-route-currentpage="@(i - 1)" asp-route-filter="@Model.Query.Filter" class="page-link">...</a>
                            </li>
                        }
                        <li class="page-item @(i == Model.Query.CurrentPage ? "active" : "")">
                            <a asp-page="./Index" asp-route-currentpage="@i" asp-route-filter="@Model.Query.Filter" class="page-link">@i</a>
                        </li>
                        if (i == endPoint && endPoint < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a asp-page="./Index" asp-route-currentpage="@(i + 1)" asp-route-filter="@Model.Query.Filter" class="page-link">...</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>