@page
@model BoOl.Pages.Services.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Service.Name);
}

<h4 class="text-center">@Html.DisplayFor(model => model.Service.Name)</h4>
<hr />
<div class="row">
    <div class="col-1">
        <a asp-page="./Index"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="col-10">
        <dl class="row">
            <dt class="col-6 text-right">
                Назва послуги:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Service.Name)
            </dd>
            <dt class="col-6 text-right">
                Ціна:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Service.Price)
            </dd>
        </dl>
    </div>
    <div class="col-1">
        <a asp-page="./Edit" asp-route-id="@Model.Service.Id"><i class="far fa-edit"></i></a>
        <a asp-page="./Delete" asp-route-id="@Model.Service.Id"><i class="far fa-trash-alt"></i></a>
    </div>
</div>