@page
@model BoOl.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Services";
}

<div class="row">
    <div class="col-4 col-md-3">
        <div class="card border border-secondary text-center">
            <div class="card-header">
                Кількість послуг:
            </div>
            <p class="font-weight-bold" style="font-size:xx-large">@Model.CountOfServices</p>
        </div>
    </div>
    <div class="col-8 col-md-6">
        <form class="card border border-secondary text-center">
            <div class="card-header">
                Пошук по назві
            </div>
            <div class="input-group mt-2 mb-3 justify-content-center">
                <input type="text" class="form-check" asp-for="SearchString" aria-describedby="button-addon">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">Шукати</button>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-3">
        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
        {
            <div class="d-grid gap-2 d-flex justify-content-end">
                <a class="btn btn-secondary mt-1" asp-page="Create"><i class="fas fa-plus"> Додати послугу</i></a>
            </div>
        }
        </div>
</div>
<br />

<div class="card border-dark">
    <div class="card-header">
        <h1>Послуги</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва послуги
                    </th>
                    <th>
                        Ціна
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Services)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                        {
                            <td>
                                <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@item.Id"><i class="far fa-edit"> Редагувати</i></a>
                                <a class="btn btn-outline-danger" asp-page="./Index" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Ви дійсно хочете видалити дану послугу?');"><i class="far fa-trash-alt"> Видалити</i></a>

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.ShowPrevious ? "disabled" : "";
            var nextDisabled = !Model.ShowNext ? "disabled" : "";
        }

        <div class="text-center">
            <a asp-page="./Index"
               asp-route-pageIndex="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@Model.SearchString"
               class="btn btn-light @prevDisabled">
                <i class="fa fa-angle-left"></i>
            </a>
            <a asp-page="./Index"
               asp-route-pageIndex="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@Model.SearchString"
               class="btn btn-light @nextDisabled">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
