@page
@model BoOl.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Замовлення";
}

@if (Model.Customer != null)
{
    <div class="row">
        <div class="col-11">
            <h1 class="text-center">Замовлення</h1>
            <h3 class="text-center">@Html.DisplayFor(modelItem => Model.Customer.LastName) @Html.DisplayFor(modelItem => Model.Customer.FirstName)</h3>
        </div>
        <div class="col-1">
            <a asp-page="./Create" asp-route-id="@Model.Customer.Id"><i class="fas fa-plus"></i></a>
        </div>
    </div>
}

else
{
    <div class="row">
        <div class="col-11">
            <h1 class="text-center">Замовлення</h1>
            </div>
    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                Техніка
            </th>
            <th>
                Статус
            </th>
            <th>
                Оплачено
            </th>
            <th>
                Сума
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>