@page
@model BoOl.Pages.Storages.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Storage.Name);
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 mt-1">
            <div class="card border-dark">
                <div class="card-header">
                    <h2>Інформація про постачання</h2>
                </div>
                <div class="card-body">
                    <div class="row d-center justify-content-center p-2">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <dl class="row">
                        <dt class="col-4">
                            Назва:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.Name)
                        </dd>
                        <dt class="col-4">
                            Виробник:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.Manufacturer)
                        </dd>
                        <dt class="col-4">
                            Модель:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.Model)
                        </dd>
                        <dt class="col-4">
                            Кількість:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.Quantity)
                        </dd>
                        <dt class="col-4">
                            Закупівельна ціна:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.PurchasePrice)
                        </dd>
                        <dt class="col-4">
                            Оптова ціна:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.WholesalePrice)
                        </dd>
                        <dt class="col-4">
                            Роздрібна ціна:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.RetailPrice)
                        </dd>
                        <dt class="col-4">
                            Співробітник:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.WorkerName)
                        </dd>
                        <dt class="col-4">
                            Дата прибуття:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.Storage.DateOfArrival)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-grid gap-2 d-flex justify-content-end">
                    @if ((User.IsInRole("Owner") || (User.IsInRole("Storekeeper"))))
                    {
                        <a class="btn btn-outline-secondary m-1" asp-page="./Edit" asp-route-id="@Model.Storage.Id" title="Редагувати"><i class="far fa-edit"></i></a>
                        <a class="btn btn-outline-danger m-1" asp-page="./Details" asp-page-handler="Delete" asp-route-id="@Model.Storage.Id" title="Видалити" onclick="return confirm('Ви дійсно хочете видалити дане постачання?');"><i class="far fa-trash-alt"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>