@page
@model BoOl.Pages.Products.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h4 class="text-center">Ви дійсно хочете видалити дану техніку?</h4>
<hr />
<div class="row">
    <div class="col-1">
        <a asp-page="./Details" asp-route-id="@Model.Product.Id"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="col-11">
        <dl class="row">
            <dt class="col-6 text-right">
                Серійний номер:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Product.SerialNumber)
            </dd>

            <dt class="col-6 text-right">
                Модель:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Product.Model.Manufacturer)  @Html.DisplayFor(model => model.Product.Model.Type)
            </dd>

            <dt class="col-6 text-right">
                Власник:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Product.Customer.LastName) @Html.DisplayFor(model => model.Product.Customer.FirstName) @Html.DisplayFor(model => model.Product.Customer.MiddleName)
            </dd>

            <dt class="col-6 text-right">
                Додаткова інформація:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Product.AdditionalInf)
            </dd>
        </dl>
        <form method="post" class="text-center">
            <input type="hidden" asp-for="Product.Id" />
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </form>
    </div>
</div>
