@page
@model BoOl.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Customer.LastName);
}

<h4 class="text-center">@Html.DisplayFor(model => model.Customer.LastName)  @Html.DisplayFor(model => model.Customer.FirstName)</h4>
<hr />
<div class="row">
    <div class="col-3">
        <ul class="nav navbar-nav bd-navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-page="./Index"><i class="fas fa-arrow-left"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="#">Техніка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="#">Замовлення</a>
            </li>
        </ul>
    </div>
    <div class="col-7">
        <dl class="row">
            <dt class="col-4 text-right">
                ПІБ:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.LastName)  @Html.DisplayFor(model => model.Customer.FirstName)  @Html.DisplayFor(model => model.Customer.MiddleName)
            </dd>
            <dt class="col-4 text-right">
                Номер телефону:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.PhoneNumber)
            </dd>
            <dt class="col-4 text-right">
                Електронна пошта:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            <dt class="col-4 text-right">
                Дата народження:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.DateOfBirth)
            </dd>
            <dt class="col-4 text-right">
                Адреса:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.Address)
            </dd>
            <dt class="col-4 text-right">
                Знижка:
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Customer.Discount)
            </dd>
        </dl>
    </div>
    <div class="col-1">
        <a asp-page="./Edit" asp-route-id="@Model.Customer.Id"><i class="far fa-edit"></i></a>
        <a asp-page="./Delete" asp-route-id="@Model.Customer.Id"><i class="far fa-trash-alt"></i></a>
    </div>
</div>
