@page
@model BoOl.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col-4 col-md-3">
        <div class="card border border-secondary text-center">
            <div class="card-header">
                Кількість клієнтів:
            </div>
            <p class="font-weight-bold" style="font-size:xx-large">@Model.CountOfCustomers</p>
        </div>
    </div>
    <div class="col-8 col-md-6">
        <form class="card border border-secondary text-center">
            <div class="card-header">
                Пошук по прізвищу
            </div>
            <div class="input-group mt-2 mb-3 justify-content-center">
                <input type="text" class="form-check" asp-for="SearchString" aria-label="Recipient's username" aria-describedby="button-addon">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">Шукати</button>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-3">
        <div class="d-grid gap-2 d-flex justify-content-end">
            <a class="btn btn-secondary mt-1" asp-page="Create"><i class="fas fa-plus"> Додати клієнта</i></a>
        </div>
    </div>
</div>
<br />

<div class="card border-dark">
    <div class="card-header">
        <h1>Клієнти</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        П.І.Б.
                    </th>
                    <th>
                        Номер телефону
                    </th>
                    <th>
                        Електронна пошта
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>