@page
@model BoOl.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <div class="col-4 col-md-3">
        <div class="card border border-secondary text-center">
            <div class="card-header">
                Кількість замовлень:
            </div>
            <p class="font-weight-bold" style="font-size:xx-large">@Model.CountOfOrders</p>
        </div>
    </div>
    <div class="col-8 col-md-6">
        <form class="card border border-secondary text-center">
            <div class="card-header">
                Пошук по статусу
            </div>
            <div class="input-group mt-2 mb-3 justify-content-center">
                <input type="text" class="form-check" asp-for="SearchString" aria-describedby="button-addon">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">Шукати</button>
            </div>
        </form>
    </div>
    @*<div class="col-12 col-md-3">
        <div class="d-grid gap-2 d-flex justify-content-end">
            <a class="btn btn-secondary mt-1" asp-page="Create"><i class="fas fa-plus"> Додати замовлення</i></a>
        </div>
    </div>*@
</div>
<br />

<div class="card border-dark">
    <div class="card-header">
        <h1>Замовлення</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Клієнт
                    </th>
                    <th>
                        Техніка
                    </th>
                    <th>
                        Статус
                    </th>
                    <th>
                        Оплачено
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Customer.LastName) @Html.DisplayFor(modelItem => item.Product.Customer.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Payment)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>