@page
@model BoOl.Pages.Types.IndexModel

@{
    ViewData["Title"] = "Services";
}

<div class="row">
    <div class="col d-flex">
        <div class="card border border-secondary text-center mr-3">
            <div class="card-header">
                Кількість модель:
            </div>
            <div class="card-body">
                <b class="font-weight-bold" style="font-size:xx-large">@Model.CountOfModels</b>
            </div>
        </div>
        <form class="card border border-secondary text-center">
            <div class="card-header">
                Пошук по виробнику
            </div>
            <div class="card-body">
                <div class="input-group ml-2 mr-2">
                    <input type="text" class="form-control" asp-for="SearchString" aria-describedby="button-addon">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon">Шукати</button>
                </div>
            </div>
        </form>
    </div>
    @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
    {
        <div class="col-12 col-md-3">
            <div class="d-grid gap-2 d-flex justify-content-end">
                <a class="btn btn-secondary mt-1" asp-page="Create"><i class="fas fa-plus"> Додати модель</i></a>
            </div>
        </div>
    }
    </div>
<br />

<div class="card border-dark">
    <div class="card-header">
        <h1>Послуги</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Виробник
                    </th>
                    <th>
                        Модель
                    </th>
                    @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                    {
                        <th></th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                 {
                     <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                        {
                            <td>
                                <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@item.Id"><i class="far fa-edit"> Редагувати</i></a>
                                <a class="btn btn-outline-danger" asp-page="./Index" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Ви дійсно хочете видалити дану модель?');"><i class="far fa-trash-alt"> Видалити</i></a>
                            </td>
                        }
                     </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
