@page
@model BoOl.Pages.Workers.IndexModel

@{
    ViewData["Title"] = "Workers";
}

<div class="container">

    <div class="card border-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-4 d-flex justify-content-start">
                    <form class="form-inline m-2">
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="SearchPosition" placeholder="Пошук" aria-describedby="button-addon">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon" title="Пошук"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <a class="btn btn-secondary m-2" asp-page="/Positions/Create"><i class="fas fa-plus"> Додати посаду</i></a>
                    <a class="btn btn-secondary m-2" asp-page="./Create"><i class="fas fa-plus"> Додати співробітника</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        @foreach (var position in Model.Positions)
        {
            <div class="col-md-12 mt-2">
                <div class="card border-dark">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-start">
                                <h2>@position.Name</h2>
                            </div>
                            <div class="col-8 d-flex justify-content-end">
                                <a class="btn btn-outline-secondary m-2" asp-page="/Positions/Edit" asp-route-id="@position.Id" title="Редагувати"><i class="far fa-edit"></i></a>
                                <a class="btn btn-outline-danger m-2" asp-page="./Index" asp-page-handler="Delete" onclick="return confirm('Ви дійсно хочете видалити дану посаду?');" title="Видалити" asp-route-id="@position.Id"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        П.І.Б.
                                    </th>
                                    <th>
                                        Номер телефону
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in position.Workers)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

</div>